@model GerenciadorDeEquipamentos.Models.Pessoas

@{
    ViewBag.Title = "DetalhesPessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Detalhes </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <dl class="table table-hover">
                                <dt>
                                    @Html.DisplayNameFor(model => model.NomeCompleto)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NomeCompleto)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Senha)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Senha)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CPF)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CPF)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.RG)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.RG)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Contato)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Contato)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DataCadastro)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataCadastro)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UltimoAcesso)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UltimoAcesso)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Acessos.Descricao)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Acessos.Descricao)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Status.Descricao)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status.Descricao)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>