@model GerenciadorDeEquipamentos.Models.OrdemServico

@{
    ViewBag.Title = "Editar Ordem de Serviço";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tipo = ViewBag.tipo;
    string message = ViewBag.messagem as string;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-sm-10">
                                <h4 class="card-title">Editar Ordem de Serviço</h4>
                                <p class="card-category">Preencha os campos corretamente! </p>
                            </div>
                            <div class="col-sm">
                                <a>
                                    <i class="material-icons" style="padding-top: 12px;" title="Listar Ordens de Serviço">list</i>
                                </a>
                                <a>
                                    <i class="material-icons" style="padding-top: 12px;">person</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            if(message != null)
                            {
                                <h5 class="my-3 mb-2" style="color: red" align="center">@message</h5>
                            }

                            <div class="row mt-3">
                                <div class="col-sm">
                                    <label class="bmd-label-static">Título</label>
                                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm">
                                    <label class="bmd-label-static">Nome do Cliente</label>
                                    @Html.EditorFor(model => model.ClienteNome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ClienteNome, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm">
                                    <label class="bmd-label-static">Email do Cliente</label>
                                    @Html.EditorFor(model => model.ClienteEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ClienteEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <label class="bmd-label-static">Descrição</label>
                                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <label class="bmd-label-static">Tipo de Solicitação</label>
                                    @Html.DropDownList("TipoSolicitacaoId", ViewBag.tipoSolicitacao as IEnumerable<SelectListItem>, "Selecione", htmlAttributes: new { @class = "custom-select form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoSolicitacaoId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm">
                                    <label class="bmd-label-static">Prioridade</label>
                                    @Html.DropDownList("PrioridadeId", ViewBag.prioridade as IEnumerable<SelectListItem>, "Selecione", htmlAttributes: new { @class = "custom-select form-control" })
                                    @Html.ValidationMessageFor(model => model.PrioridadeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm">
                                    <label class="bmd-label-static">Equipe</label>
                                    @Html.DropDownList("EquipeId", ViewBag.equipe as IEnumerable<SelectListItem>, "Selecione", htmlAttributes: new { @class = "custom-select form-control" })
                                    @Html.ValidationMessageFor(model => model.EquipeId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm">
                                    <label class="bmd-label-static">Status</label>
                                    @Html.DropDownList("StatusId", ViewBag.status as IEnumerable<SelectListItem>, "Selecione", htmlAttributes: new { @class = "custom-select form-control" })
                                    @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Editar" class="btn btn-primary" />
                                <a href="@Url.Action("ListarOrdemServico", "OrdemServico", new { tipo = tipo})" class="btn btn-primary">Voltar</a>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

