@using GerenciadorDeEquipamentos.Models
@{
    ViewBag.Title = "Gerenciar OS";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<vw_colaborador_OS_tarefas> colaboradores = ViewBag.osColaborador;
    IEnumerable<vw_equipe_ordemServico> equipes = ViewBag.osEquipe;

    var dadosIndex = ViewBag.dadosIndex;
    int naoAtribuidos = ViewBag.NaoAtribuidos;

}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <p class="card-category">Produtividade no período</p>
                        <h3 class="card-title">
                            @Convert.ToInt32(dadosIndex.Produtividade)%
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Ordem de Serviço
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="@Url.Action("ListarOrdemServico","OrdemServico")" style="color:azure">

                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">call</i>
                            </div>
                            <p class="card-category">Total de Ordens de Serviço</p>
                            <h3 class="card-title">
                                @dadosIndex.Total
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">desktop_windows</i>
                                Total geral
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="@Url.Action("ListarOrdemServico","OrdemServico", new { tipo = 1})" style="color:azure">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">chat</i>
                            </div>
                            <p class="card-category">Aguardando Atendimento</p>
                            <h3 class="card-title">
                                @dadosIndex.AguardandoAtendimento
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Aguardando Atendimento
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="@Url.Action("ListarOrdemServico","OrdemServico", new { tipo = 2})" style="color:azure">

                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">group</i>
                            </div>
                            <p class="card-category">Não Atribuido a Equipes</p>
                            <h3 class="card-title">
                                @naoAtribuidos
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                                <i class="fa fa-user"></i> Não Atribuidos
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">timeline</i>
                    </div>
                    <h4 class="card-title">
                        Gráfico Tarefas
                        @*Equipamentos e OS *@
                        <small> - Encerradas</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="colouredRoundedLineChart" class="ct-chart">
                        <div id="roundedLineChart" class="ct-chart">
                            <div id="lineChart" class="ct-chart-line" xmlns:ct="http://gionkunz.github.com/chartist-js/ct"
                                 width="100%" height="360px" style="width: 100%; height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">pie_chart</i>
                    </div>
                    <h4 class="card-title">
                        Gráfico de Ordem de Serviços
                        @*Equipamentos e OS *@
                        <small> - Status</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="colouredRoundedLineChart" class="ct-chart">
                        <div id="chartP" class="ct-chart-line" xmlns:ct="http://gionkunz.github.com/chartist-js/ct"
                             width="100%" height="100%" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarTarefas","Tarefa")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">filter_list</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Tarefas</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Atividades exercidas
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarEquipes","Equipe")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">group</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Equipes</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Desenvolvimento, Redes...
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarPessoas","Pessoa")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Colaboradores</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Gerenciar Colaboradores
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarTipoSolicitacoes","TipoSolicitacao")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">list_alt</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Solicitações</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Tipo de Solicitações
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-sm-10">
                        <h4 class="card-title">Desempenho</h4>
                        <p></p>
                    </div>
                    @*<div class="col-sm">
                            <a href="@Url.Action("CriarOrdemServico")">
                                <span>Criar Ordem Serviço</span>
                                <i class="material-icons" style="padding-top: 12px;" title="Criar Ordem Serviço">add</i>
                            </a>
                        </div>*@
                </div>
            </div>


            <div class="card-body">
                <ul class="nav nav-pills nav-pills-warning" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                            Colaborador
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                            Equipe
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-space">
                    <div class="table-responsive tab-pane active" id="link1">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayName("Colaborador")
                                </th>
                                <th>
                                    @Html.DisplayName("Tarefas Finalizadas")
                                </th>
                                <th>
                                    @Html.DisplayName("Tarefas Abertas")
                                </th>
                                <th>
                                    @Html.DisplayName("OS Finalizados")
                                </th>
                                <th>
                                    @Html.DisplayName("OS Abertos")
                                </th>
                                @*<th>
                                        @Html.DisplayName("Tempo de Atendimento")
                                    </th>*@
                            </tr>

                            @foreach (var item in colaboradores)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Colaborador)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TarefasEncerradas)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TarefasAbertas)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OSEncerrados)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OSAbertos)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Tempo)
                                        </td>*@
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="table-responsive tab-pane" id="link2">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayName("Equipe")
                                </th>
                                <th>
                                    @Html.DisplayName("Responsável")
                                </th>
                                <th>
                                    @Html.DisplayName("OS Encerrados")
                                </th>
                                <th>
                                    @Html.DisplayName("OS Abertos")
                                </th>
                            </tr>
                            @foreach (var item in equipes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Equipe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responsavel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OSEncerrados)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OSAbertos)
                                    </td>

                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChartPie);

    var chartDataPie;

    $(document).ready(function () {

        $.ajax({
            url: "GetPieChartData",
            data: "",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                console.log(data);
                chartDataPie = data;
            },
            error: function (data) {
                console.log(data);
                alert("Erro carregando dados! Por favor tente novamente.")
            }
        }).done(function () {
            drawChartPie();
        });
    });

    function drawChartPie() {

        var data = google.visualization.arrayToDataTable(chartDataPie);
        
        @*var data = google.visualization.arrayToDataTable([
            ['Tarefas', 'Total por Status'],
            ['Encerradas', @graficoTarefas.Encerrado],
            ['Em Atendimento', @graficoTarefas.EmAtendimento],
            ['Aguardando Atendimento', @graficoTarefas.AguardandoAtendimento],
            ['Aguardando Atendente', @graficoTarefas.AguardandoAtendente],
            ['Canceladas', @graficoTarefas.Cancelado],
            ['Pausada', @graficoTarefas.Pausado]
        ]);*@

        var options = {
            chartArea: {
                height: 500}
            //width: 480,
            //height: 300
        };

        var chart = new google.visualization.PieChart(document.getElementById('chartP'));
        chart.draw(data, options);
    }
</script>

<script>

    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChartLine);

   // google.load("visualization", "1", { packages: ["corechart"] });

    var chartDataLine;

    $(document).ready(function () {

        $.ajax({
            url: "GetLineChartData",
            data: "",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                console.log(data);
                chartDataLine = data;
            },
            error: function (data) {
                console.log(data);
                alert("Erro carregando dados! Por favor tente novamente.")
            }
        }).done(function () {
            drawChartLine();
        });
    });


    function drawChartLine() {

        var data = new google.visualization.arrayToDataTable(chartDataLine);

        var options = {
            //chartArea: {
            //    width: 200
            //},
            hAxis: {
                title: 'Meses'
            },
            vAxis: {
                title: 'Quantidade'
            },
            title: "",
            pointSize: 5
        };

        //var lineChart = new google.charts.Line(document.getElementById('lineChart'));
        var lineChart = new google.visualization.LineChart(document.getElementById('lineChart'));

        lineChart.draw(data, options);
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
