@model GerenciadorDeEquipamentos.Models.Softwares

@{
    ViewBag.Title = "Gerenciar Softwares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <p class="card-category">Produtividade no período</p>
                        <h3 class="card-title">
                            @*@produtividade%*@
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Total
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="@Url.Action("ListarSoftwares","Software")" style="color:azure">

                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">call</i>
                            </div>
                            <p class="card-category">Total de Softwares</p>
                            <h3 class="card-title">
                               @* @total*@
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">desktop_windows</i>
                                Total geral
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="@Url.Action("ListarSoftwares","Software")" style="color:azure">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">chat</i>
                            </div>
                            <p class="card-category">Softwares mais utilizados</p>
                            <h3 class="card-title">
                               @* @aguardandoAtendimento*@
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Total
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="@Url.Action("ListarSoftwares","Software")" style="color:azure">

                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">group</i>
                            </div>
                            <p class="card-category">Não Atribuido a Equipes</p>
                            <h3 class="card-title">
                                @*@naoAtribuidos*@
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                                <i class="fa fa-user"></i> Total
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">timeline</i>
                    </div>
                    <h4 class="card-title">
                        Gráfico com dados Importantes
                        @*Equipamentos e OS *@
                        <small> - Rounded</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="colouredRoundedLineChart" class="ct-chart">
                        <div id="roundedLineChart" class="ct-chart">
                            <div id="chart" class="ct-chart-line" xmlns:ct="http://gionkunz.github.com/chartist-js/ct"
                                 width="100%" height="360px" style="width: 100%; height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">pie_chart</i>
                    </div>
                    <h4 class="card-title">
                        Gráfico de Licenças
                        @*Equipamentos e OS *@
                        <small> - Status</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="colouredRoundedLineChart" class="ct-chart">
                        <div id="chartP" class="ct-chart-line" xmlns:ct="http://gionkunz.github.com/chartist-js/ct"
                             width="100%" height="100%" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarLicencas","Licenca")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">filter_list</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Licenças</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Todas as Licenças
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarEquipes","Equipe")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">group</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Equipes</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Desenvolvimento, Redes...
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarPessoas","Pessoa")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Colaboradores</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Gerenciar Colaboradores
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("ListarTipoSolicitacoes","TipoSolicitacao")" style="color:azure">
                    <div class="card-header card-header-primary card-header-icon">

                        <div class="card-icon">
                            <i class="material-icons">list_alt</i>
                        </div>
                        <p class="card-category">Website Visits</p>
                        <h3 class="card-title mt-4">Solicitações</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">assignment</i> Tipo de Solicitações
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

