@model GerenciadorDeEquipamentos.Models.Tarefa

@{
    ViewBag.Title = "Detalhes Tarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Detalhes Tarefa</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <dl class="table table-hover">
                                <dt>
                                    @Html.DisplayName("Data Abertura")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataAbertura)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Data Encerramento")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataEncerramento)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Ordem de Serviço")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.OrdemServico.Titulo)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Responsável")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Pessoas.NomeCompleto)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Prioridade")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Prioridade.Descricao)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Status")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status.Descricao)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Tipo de Solicitação")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TipoSolicitacao.Titulo)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Descrição")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Descricao)
                                </dd>
                            </dl>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("ListarTarefas", "Tarefa")" class="btn btn-primary">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>