@model GerenciadorDeEquipamentos.Models.Atributos

@{
    ViewBag.Title = "Detalhes Atributo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Detalhes Atributo </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <dl class="table table-hover">
                                <dt>
                                    @Html.DisplayName("Nome")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Tipo de Equipamento")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TipoEquipamento.Nome)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Descrição")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Descricao)
                                </dd>

                            </dl>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("ListarAtributos", "Atributo")" class="btn btn-primary">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>