@model GerenciadorDeEquipamentos.Models.Equipamentos

@{
    ViewBag.Title = "Detralhes Equipamento";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title mt-0"> Detalhes Equipamento</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <dl class="table table-hover">
                                    <dt>
                                        @Html.DisplayName("Tipo de Equipamento")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TipoEquipamento.Nome)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Departamento")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Departamentos.Nome)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Status")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Status.Descricao)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Cadastrou")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Pessoas.NomeCompleto)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Data Aquisição")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DataAquisicao)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Data Garantia")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DataGarantia)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Número Patrimonial")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NumeroPatrimonial)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Service Tag Serial")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ServiceTagSerial)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Observação")
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Observacao)
                                    </dd>

                                </dl>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("ListarEquipamentos", "Equipamento")" class="btn btn-primary">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>