@model GerenciadorDeEquipamentos.Models.Equipamentos

@{
    ViewBag.Title = "DetralhesEquipamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title mt-0"> Detalhes </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <dl class="table table-hover">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Observacao)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Observacao)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.DataAquisicao)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DataAquisicao)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.DataGarantia)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DataGarantia)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.NumeroPatrimonial)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NumeroPatrimonial)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ServiceTagSerial)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ServiceTagSerial)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Departamentos.Nome)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Departamentos.Nome)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Pessoas.NomeCompleto)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Pessoas.NomeCompleto)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Status.Descricao)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Status.Descricao)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TipoEquipamento.Nome)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TipoEquipamento.Nome)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EquipamentoId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
